In [74]:
from bs4 import BeautifulSoup as bs
import requests 

url_imdb =  "https://assets-datascientest.s3.eu-west-1.amazonaws.com/IMDb.html"

page_imdb = requests.get (url_imdb)

bs_imdb = bs(page_imdb.content,"lxml")

bs_imdb.prettify().splitlines()[0:30]

['<!DOCTYPE html>',
 '<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">',
 ' <head>',
 '  <script type="text/javascript">',
 '   var ue_t0=ue_t0||+new Date();',
 '  </script>',
 '  <script type="text/javascript">',
 '   window.ue_ihb = (window.ue_ihb || window.ueinit || 0) + 1;',
 'if (window.ue_ihb === 1) {',
 '',
 'var ue_csm = window,',
 '    ue_hob = +new Date();',
 '(function(d){var e=d.ue=d.ue||{},f=Date.now||function(){return+new Date};e.d=function(b){return f()-(b?0:d.ue_t0)};e.stub=function(b,a){if(!b[a]){var c=[];b[a]=function(){c.push([c.slice.call(arguments),e.d(),d.ue_id])};b[a].replay=function(b){for(var a;a=c.shift();)b(a[0],a[1],a[2])};b[a].isStub=1}};e.exec=function(b,a){return function(){try{return b.apply(this,arguments)}catch(c){ueLogError(c,{attribution:a||"undefined",logLevel:"WARN"})}}}})(ue_csm);',
 '',
 '',
 "    var ue_err_chan = 'jserr';",
 '(function(d,e){function h(f,b){if(!(a.ec>a.mxe)&&f){a.ter.push(f);b=b||{};var c=f.logLevel||b.logLevel;c&&c!==k&&c!==m&&c!==n&&c!==p||a.ec++;c&&c!=k||a.ecf++;b.pageURL=""+(e.location?e.location.href:"");b.logLevel=c;b.attribution=f.attribution||b.attribution;a.erl.push({ex:f,info:b})}}function l(a,b,c,e,g){d.ueLogError({m:a,f:b,l:c,c:""+e,err:g,fromOnError:1,args:arguments},g?{attribution:g.attribution,logLevel:g.logLevel}:void 0);return!1}var k="FATAL",m="ERROR",n="WARN",p="DOWNGRADED",a={ec:0,ecf:0,',
 'pec:0,ts:0,erl:[],ter:[],buffer:[],mxe:50,startTimer:function(){a.ts++;setInterval(function(){d.ue&&a.pec<a.ec&&d.uex("at");a.pec=a.ec},1E4)}};l.skipTrace=1;h.skipTrace=1;h.isStub=1;d.ueLogError=h;d.ue_err=a;e.onerror=l})(ue_csm,window);',
 '',
 '',
 "var ue_id = '8G01TZAYK73D0K148WDQ',",
 '    ue_url,',
 '    ue_navtiming = 1,',
 "    ue_mid = 'A1EVAM02EL8SFB',",
 "    ue_sid = '139-4771682-8444857',",
 "    ue_sn = 'www.imdb.com',",
 "    ue_furl = 'fls-na.amazon.com',",
 "    ue_surl = 'https://unagi-na.amazon.com/1/events/com.amazon.csm.nexusclient.prod',",
 '    ue_int = 0,',
 '    ue_fcsn = 1,']

In [75]:
films_imdb = bs_imdb.find_all("td",class_ = "titleColumn")
print (films_imdb[0:30])

[<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Les Évadés</a>
<span class="secondaryInfo">(1994)</span>
</td>, <td class="titleColumn">
      2.
      <a href="/title/tt0068646/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_2" title="Francis Ford Coppola (dir.), Marlon Brando, Al Pacino">Le Parrain</a>
<span class="secondaryInfo">(1972)</span>
</td>, <td class="titleColumn">
      3.
      <a href="/title/tt0468569/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_3" title="Christopher Nolan (dir.), Christian Bale, Heath Ledger">The Dark Knight : Le Chevalier noir</a>
<span class="secondaryInfo">(2008)</span>
</td>, <td class="titleColumn">
      4.
      <a href="/title/tt0071562/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_4" title="Francis Ford Coppola (dir.), Al Pacino, Robert De Niro">Le Parrain, 2ᵉ partie</a>
<span class="secondaryInfo">(1974)</span>
</td>, <td class="titleColumn">
      5.
      <a href="/title/tt0050083/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_5" title="Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb">12 Hommes en colère</a>
<span class="secondaryInfo">(1957)</span>
</td>, <td class="titleColumn">
      6.
      <a href="/title/tt0108052/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_6" title="Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes">La liste de Schindler</a>
<span class="secondaryInfo">(1993)</span>
</td>, <td class="titleColumn">
      7.
      <a href="/title/tt0167260/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_7" title="Peter Jackson (dir.), Elijah Wood, Viggo Mortensen">Le Seigneur des anneaux : Le Retour du roi</a>
<span class="secondaryInfo">(2003)</span>
</td>, <td class="titleColumn">
      8.
      <a href="/title/tt0110912/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_8" title="Quentin Tarantino (dir.), John Travolta, Uma Thurman">Pulp Fiction</a>
<span class="secondaryInfo">(1994)</span>
</td>, <td class="titleColumn">
      9.
      <a href="/title/tt0120737/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_9" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">Le Seigneur des anneaux : La Communauté de l'anneau</a>
<span class="secondaryInfo">(2001)</span>
</td>, <td class="titleColumn">
      10.
      <a href="/title/tt0060196/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_10" title="Sergio Leone (dir.), Clint Eastwood, Eli Wallach">Le Bon, la brute, le truand</a>
<span class="secondaryInfo">(1966)</span>
</td>, <td class="titleColumn">
      11.
      <a href="/title/tt0109830/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_11" title="Robert Zemeckis (dir.), Tom Hanks, Robin Wright">Forrest Gump</a>
<span class="secondaryInfo">(1994)</span>
</td>, <td class="titleColumn">
      12.
      <a href="/title/tt0137523/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_12" title="David Fincher (dir.), Brad Pitt, Edward Norton">Fight Club</a>
<span class="secondaryInfo">(1999)</span>
</td>, <td class="titleColumn">
      13.
      <a href="/title/tt0167261/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_13" title="Peter Jackson (dir.), Elijah Wood, Ian McKellen">Le Seigneur des anneaux : Les Deux Tours</a>
<span class="secondaryInfo">(2002)</span>
</td>, <td class="titleColumn">
      14.
      <a href="/title/tt1375666/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_14" title="Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt">Inception</a>
<span class="secondaryInfo">(2010)</span>
</td>, <td class="titleColumn">
      15.
      <a href="/title/tt0080684/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_15" title="Irvin Kershner (dir.), Mark Hamill, Harrison Ford">L'Empire contre-attaque</a>
<span class="secondaryInfo">(1980)</span>
</td>, <td class="titleColumn">
      16.
      <a href="/title/tt0133093/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_16" title="Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne">Matrix</a>
<span class="secondaryInfo">(1999)</span>
</td>, <td class="titleColumn">
      17.
      <a href="/title/tt0099685/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_17" title="Martin Scorsese (dir.), Robert De Niro, Ray Liotta">Les affranchis</a>
<span class="secondaryInfo">(1990)</span>
</td>, <td class="titleColumn">
      18.
      <a href="/title/tt0073486/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_18" title="Milos Forman (dir.), Jack Nicholson, Louise Fletcher">Vol au-dessus d'un nid de coucou</a>
<span class="secondaryInfo">(1975)</span>
</td>, <td class="titleColumn">
      19.
      <a href="/title/tt0114369/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_19" title="David Fincher (dir.), Morgan Freeman, Brad Pitt">Seven</a>
<span class="secondaryInfo">(1995)</span>
</td>, <td class="titleColumn">
      20.
      <a href="/title/tt0047478/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_20" title="Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura">Les 7 Samouraïs</a>
<span class="secondaryInfo">(1954)</span>
</td>, <td class="titleColumn">
      21.
      <a href="/title/tt0038650/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_21" title="Frank Capra (dir.), James Stewart, Donna Reed">La vie est belle</a>
<span class="secondaryInfo">(1946)</span>
</td>, <td class="titleColumn">
      22.
      <a href="/title/tt0102926/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_22" title="Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins">Le Silence des agneaux</a>
<span class="secondaryInfo">(1991)</span>
</td>, <td class="titleColumn">
      23.
      <a href="/title/tt0317248/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_23" title="Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino">La cité de Dieu</a>
<span class="secondaryInfo">(2002)</span>
</td>, <td class="titleColumn">
      24.
      <a href="/title/tt0120815/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_24" title="Steven Spielberg (dir.), Tom Hanks, Matt Damon">Il faut sauver le soldat Ryan</a>
<span class="secondaryInfo">(1998)</span>
</td>, <td class="titleColumn">
      25.
      <a href="/title/tt0118799/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_25" title="Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi">La vie est belle</a>
<span class="secondaryInfo">(1997)</span>
</td>, <td class="titleColumn">
      26.
      <a href="/title/tt0816692/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_26" title="Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway">Interstellar</a>
<span class="secondaryInfo">(2014)</span>
</td>, <td class="titleColumn">
      27.
      <a href="/title/tt0120689/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_27" title="Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan">La ligne verte</a>
<span class="secondaryInfo">(1999)</span>
</td>, <td class="titleColumn">
      28.
      <a href="/title/tt0076759/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_28" title="George Lucas (dir.), Mark Hamill, Harrison Ford">La guerre des étoiles</a>
<span class="secondaryInfo">(1977)</span>
</td>, <td class="titleColumn">
      29.
      <a href="/title/tt0103064/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_29" title="James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton">Terminator 2 : Le jugement dernier</a>
<span class="secondaryInfo">(1991)</span>
</td>, <td class="titleColumn">
      30.
      <a href="/title/tt0088763/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_30" title="Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd">Retour vers le futur</a>
<span class="secondaryInfo">(1985)</span>
</td>]

In [76]:
first_film  = films_imdb[0]
print (first_film)
first_film_title  = first_film.find("a").text
print ("first_film_title :",first_film_title)

<td class="titleColumn">
      1.
      <a href="/title/tt0111161/?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=1a264172-ae11-42e4-8ef7-7fed1973bb8f&amp;pf_rd_r=8G01TZAYK73D0K148WDQ&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=top&amp;ref_=chttp_tt_1" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">Les Évadés</a>
<span class="secondaryInfo">(1994)</span>
</td>
first_film_title : Les Évadés

In [77]:
first_film_rank  = films_imdb[0].text.split() [0].replace(".","")
print ("first_film_rank :",first_film_rank)

first_film_rank : 1

In [53]:
first_film_year  = films_imdb[0].text.split()[-1].replace("(","").replace(")","")
print ("first_film_year :",first_film_year)

first_film_year : 1994

In [54]:
notes = bs_imdb.find_all("td",class_ = "ratingColumn imdbRating")
print ("rating of the first film :",float(notes[0].text.strip().replace(',','.')))

rating of the first film : 9.2

In [78]:
# Insérez votre code ici
import pandas as pd 

titles = []
ranks = []
years =[]
ratings = []
for film in films_imdb :
    film_rank  = int(film.text.split() [0].replace(".",""))
    film_year  = int(film.text.split()[-1].replace("(","").replace(")",""))
    film_title = film.find("a").text
    
    titles.append(film_title)
    ranks.append(film_rank)
    years.append(film_year)

for  note in notes :
    ratings.append (float(note.text.strip().replace(',','.')))

tables = list(zip(titles,ranks,ratings,years))
df_imdb = pd.DataFrame(tables,columns=["Title","Rank","Rating","Year Out"])
display(df_imdb)

                                   Title  Rank  Rating  Year Out
0                             Les Évadés     1     9.2      1994
1                             Le Parrain     2     9.2      1972
2    The Dark Knight : Le Chevalier noir     3     9.0      2008
3                  Le Parrain, 2ᵉ partie     4     9.0      1974
4                    12 Hommes en colère     5     9.0      1957
..                                   ...   ...     ...       ...
245                      Le géant de fer   246     8.0      1999
246            La couleur des sentiments   247     8.0      2011
247                              Aladdin   248     8.0      1992
248                               Gandhi   249     8.0      1982
249            Du rififi chez les hommes   250     8.0      1955

[250 rows x 4 columns]

In [79]:
url_allocine =  "https://assets-datascientest.s3.eu-west-1.amazonaws.com/AlloCiné.html"

page_allocine = requests.get (url_allocine)

bs_allocine = bs(page_allocine.content,"lxml")

bs_allocine.prettify().splitlines()[0:30]

['<!DOCTYPE html>',
 '<html lang="fr">',
 ' <head>',
 '  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>',
 '  <meta charset="utf-8"/>',
 '  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport"/>',
 '  <meta content="index,follow,max-snippet:-1" name="robots"/>',
 '  <title>',
 '   Meilleurs films de tous les temps - AlloCiné',
 '  </title>',
 '  <meta content="" name="keywords"/>',
 '  <meta content="noarchive" name="Googlebot"/>',
 '  <meta content="global" name="distribution"/>',
 '  <meta content="AlloCine" name="author"/>',
 '  <meta content="France" name="country"/>',
 '  <meta content="48.87078;2.30447" name="geo.position"/>',
 '  <meta content="FR" name="geo.country"/>',
 '  <meta content="48.87078;2.30447" name="ICBM"/>',
 '  <meta content="#FECC00" name="theme-color"/>',
 '  <meta content="Quels sont les meilleurs films? Découvrez les 300 meilleurs films de tous les temps sur AlloCiné" name="description"/>',
 '  <meta content="AlloCiné" property="og:site_name"/>',
 '  <meta content="Meilleurs films de tous les temps" property="og:title"/>',
 '  <meta content="Quels sont les meilleurs films? Découvrez les 300 meilleurs films de tous les temps sur AlloCiné" property="og:description"/>',
 '  <meta content="99197768694" property="fb:app_id"/>',
 '  <meta content="summary" name="twitter:card"/>',
 '  <meta content="@allocine" name="twitter:site"/>',
 '  <meta content="Meilleurs films de tous les temps" name="twitter:title"/>',
 '  <meta content="Quels sont les meilleurs films? Découvrez les 300 meilleurs films de tous les temps sur AlloCiné" name="twitter:description"/>',
 '  <meta content="" name="twitter:image"/>',
 '  <meta content="allocine" name="twitter:app:name:iphone"/>']

In [87]:
# recover first page films
films_allocine = bs_allocine.find_all('li',class_="mdl")

print ( "number of films of the first page", len(films_allocine))

number of films of the first page 10

In [85]:
# recover first film
first_film = films_allocine[0]
# extract first film information
first_film_name = first_film.find_next("h2").text.strip()
print ("first_film_name",first_film_name)

first_film_name Forrest Gump

In [88]:
first_film_ratings = first_film.find_all("span",class_ = "stareval-note")
first_film_press_rating = float (first_film_ratings[0].text.strip().replace(',','.'))
print ("first_film_press_rating",first_film_press_rating)
first_film_spectator_rating = float (first_film_ratings[1].text.strip().replace(',','.'))
print ("first_film_spectator_rating",first_film_spectator_rating)

first_film_press_rating 2.6
first_film_spectator_rating 4.6

In [89]:
import pandas as pd
film_titles = []
press_ratings = []
spectator_ratings = []
for film in films_allocine :
    film_titles.append(film.find_next("h2").text.strip())
    film_ratings = film.find_all("span",class_ = "stareval-note")

    press_ratings.append (float(film_ratings[0].text.strip().replace(',','.')))
    spectator_ratings.append (float(film_ratings[1].text.strip().replace(',','.')))

tables = list(zip(film_titles,press_ratings,spectator_ratings))
df_allocine = pd.DataFrame(tables,columns=["Title","Press rating","Spectator rating"])
display(df_allocine)

                                        Title  Press rating  Spectator rating
0                                Forrest Gump           2.6               4.6
1                       La Liste de Schindler           4.2               4.6
2                              La Ligne verte           2.8               4.6
3                         12 hommes en colère           5.0               4.6
4                                  Le Parrain           4.6               4.5
5                                  Les Evadés           3.2               4.5
6  Le Seigneur des anneaux : le retour du roi           3.8               4.5
7                                 Le Roi Lion           3.4               4.5
8            Vol au-dessus d'un nid de coucou           5.0               4.5
9          The Dark Knight, Le Chevalier Noir           4.0               4.5

In [90]:
df_allocine.Title = df_allocine.Title.str.upper()
df_imdb.Title = df_imdb.Title.str.upper()
display (df_imdb)
display (df_allocine)

imdb_allocine_common = pd.merge(df_imdb, df_allocine, on='Title')

                                   Title  Rank  Rating  Year Out
0                             LES ÉVADÉS     1     9.2      1994
1                             LE PARRAIN     2     9.2      1972
2    THE DARK KNIGHT : LE CHEVALIER NOIR     3     9.0      2008
3                  LE PARRAIN, 2ᵉ PARTIE     4     9.0      1974
4                    12 HOMMES EN COLÈRE     5     9.0      1957
..                                   ...   ...     ...       ...
245                      LE GÉANT DE FER   246     8.0      1999
246            LA COULEUR DES SENTIMENTS   247     8.0      2011
247                              ALADDIN   248     8.0      1992
248                               GANDHI   249     8.0      1982
249            DU RIFIFI CHEZ LES HOMMES   250     8.0      1955

[250 rows x 4 columns]

                                        Title  Press rating  Spectator rating
0                                FORREST GUMP           2.6               4.6
1                       LA LISTE DE SCHINDLER           4.2               4.6
2                              LA LIGNE VERTE           2.8               4.6
3                         12 HOMMES EN COLÈRE           5.0               4.6
4                                  LE PARRAIN           4.6               4.5
5                                  LES EVADÉS           3.2               4.5
6  LE SEIGNEUR DES ANNEAUX : LE RETOUR DU ROI           3.8               4.5
7                                 LE ROI LION           3.4               4.5
8            VOL AU-DESSUS D'UN NID DE COUCOU           5.0               4.5
9          THE DARK KNIGHT, LE CHEVALIER NOIR           4.0               4.5

In [91]:
sorted_films = imdb_allocine_common.sort_values(by=["Spectator rating"],ascending=False)
display (sorted_films)

print ("best films according to the  spectators are : ", sorted_films.iloc[0].Title," , ",sorted_films.iloc[1].Title)

,Title,Rank,Rating,Year Out,Press rating,Spectator rating
1,12 HOMMES EN COLÈRE,5,9.0,1957,5.0,4.6
2,LA LISTE DE SCHINDLER,6,8.9,1993,4.2,4.6
6,LA LIGNE VERTE,27,8.6,1999,2.8,4.6
4,FORREST GUMP,11,8.8,1994,2.6,4.6
3,LE SEIGNEUR DES ANNEAUX : LE RETOUR DU ROI,7,8.9,2003,3.8,4.5
0,LE PARRAIN,2,9.2,1972,4.6,4.5
5,VOL AU-DESSUS D'UN NID DE COUCOU,18,8.6,1975,5.0,4.5
7,LE ROI LION,36,8.5,1994,3.4,4.5

best films according to the  spectators are :  12 HOMMES EN COLÈRE  ,  LA LISTE DE SCHINDLER